.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 600px;
}
.nav-cont {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  align-items: flex-start;
}
.logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.logo-cont {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  padding-left: 60px;
  margin-left: 30px;
}
.item {
  font-weight: bold;
  margin-right: 20px;
  font-size: 22px;
  cursor: pointer;
}
